<!-- 
Uses Jinja for rendering
Automatically escapes HTML, so user input is safe to display
Python-style syntax
Each template can extend a base template and override specific sections
"block" means that it will be overriden by another template
-->
<!doctype html>
<html>
<head>
<title>Room
  a210 - Web Shades
</title>
<!--{{ room['roomname'] }}-->
<link rel="stylesheet" href="main.css">
<!--{{ url_for('static', filename='main.css') }}"-->
</head>
<body>
<div id="main">
  <div id="tabs">
    <div class="open tab">
      <h1>Room a210</h1>
      <h2>Manual</h2>
    </div>
    <div class="tab">
      <h1>Room a220</h1>
      <h2>Automatic</h2>
    </div>
    <div class="tab">
      <h1>Room a230</h1>
      <h2>Scheduled</h2>
    </div>
    <div id="new-room" onclick="changeTheme()">+</div>
  </div>
  <div id="controls">
    <div id="schedule">
      <h1>Monday 2/12/2024</h1>
      <ol>
        <li>8:15 - Social Engineering</li>
        <li>9:20 - Social Engineering</li>
        <li>10:25 - Social Engineering</li>
        <li>11:30 - Lunch</li>
        <li>12:55 - APUSH</li>
        <li>2:00 - Capstone</li>
        <li>3:00 - After School</li>
        <li>4:00 - Evening</li>
        <li>7:00 - Night</li>
      </ol>
    </div>
    <div id="main-controls">
      <div id="mode-selector">
        <div title="Automatic" class="mode active" id="auto" onclick="changeMode('a')">A</div>
        <div title="Manual" class="mode" id="man" onclick="changeMode('m')">M</div>
        <div title="Scheduled" class="mode" id="sched" onclick="changeMode('s')">S</div>
      </div>
      <div id="main-value">50%</div>
      <input id="main-slider" type="range" min="0" max="100">
      <button id="reset" onclick="reset()">Reset</button>
    </div>
    <div id="presets"></div>
  </div>
  <div id="windows">
    <div class="window open override">
      <div class="window-inside">
        <input class="window-slider" type="range" min="0" max="100" value="100">
      </div>
      <div class="window-outside"></div>
      <div class="window-bar">Click to Close</div>
    </div>
    <div class="window closed override">
      <div class="window-inside">
        <input class="window-slider" type="range" min="0" max="100" value="0">
      </div>
      <div class="window-outside"></div>
      <div class="window-bar">Click to Open</div>
    </div>
    <div class="window closed override">
      <div class="window-inside">
        <input class="window-slider" type="range" min="0" max="100" value="50">
      </div>
      <div class="window-outside"></div>
      <div class="window-bar">Click to Open</div>
    </div>
    <div class="window closed auto">
      <div class="window-inside">
        <input class="window-slider" type="range" min="0" max="100" value="50">
      </div>
      <div class="window-outside"></div>
      <div class="window-bar">Click to Open</div>
    </div>
  </div>
  <div id="master-controls">
    <button onclick="tiltOpen()">Tilt Open</button>
    <button onclick="closeAll()">Close All</button>
    <button onclick="raiseAll()">Raise All</button>
  </div>
  <div id="notice">
    Hold shift to stop
  </div>
  <script src="script.js"></script>
  <script>refresh()</script>
</div>
</body>
</html>