{% extends 'base.html' %}
<!--See notes on base.html-->
<!--The above means that this replaces blocks from the base template-->
<!--All content must appear in block tags-->
{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1> <!--Nesting blocks means that Register is only written once, but to both places-->
{% endblock %}

{% block content %}
  <form method="post">
    <label for="roomname">Room Name</label>
    <input name="roomname" id="roomname" required>
    <label for="ip">IP</label>
    <input name="ip" id="ip" required>
    <label for="picos">Picos</label>
    <input name="picos" id="picos" required>
    <label for="windows">Windows</label>
    <input name="windows" id="windows" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}