<!-- 
Uses Jinja for rendering
Automatically escapes HTML, so user input is safe to display
Python-style syntax
Each template can extend a base template and override specific sections
"block" means that it will be overriden by another template
-->
<!doctype html>
<title>{% block title %}{% endblock %} - Web Shades</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Web Shades</h1>
  <ul>
    {% if g.user %} <!--g is automatically available in templates-->
      {% for name in g.rooms %}
        <li><a href="{{ url_for('control.room', name=name) }}">{{ name }}</a></li>
      {% endfor %}
      <li><a href="{{ url_for('auth.new') }}">New Room</a></li>
      <li><span>{{ g.user['username'] }}</span> <!--display username and log out if logged in-->
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a> <!--display register and log in if logged out-->
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %} <!--Loops through all messages sent with flash() command-->
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>